/* TournamentsPage.css */
.tournaments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    background: #000000;
}

.tournaments-page {
    text-align: center; /* Centra il contenuto della pagina */
}

.page-title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #ffffff;
}

@media (min-width: 768px) {
    .tournaments-container {
        justify-content: flex-start;
    }
}
