/* BattleCardStudentmysection.css */
.battle-card {
    background: linear-gradient(135deg, #e6e6e6, #ffffff);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 15px rgba(255, 255, 255, 0.5);
    padding: 15px; /* Ridotto da 20px per risparmiare spazio */
    width: 320px; /* Aumentato da 300px per più spazio */
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.battle-card:hover {
    transform: translateY(-5px);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
}

.battle-card h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    position: relative;
}

.battle-card p {
    color: #555;
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
}

.leaderboard-button {
    background-color: rgba(50, 55, 62, 0.66); /* Scegli il colore che preferisci */
    color: #000000; /* Colore del testo */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.leaderboard-button:hover {
    background-color: rgb(213, 217, 213); /* Colore al passaggio del mouse */
}

.battle-card button {
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 10;
    margin-top: 10px;
    border: none;
}

.join-button-3 {
    background-color: #3c8613;
    color: black;
}

.join-button-3:hover {
    background-color: rgba(60, 134, 19, 0.85);
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

.join-button-4 {
    background-color: #f51111;
    color: black;
}

.join-button-4:hover {
    background-color: rgba(245, 17, 17, 0.74);
    transform: translateY(-2px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
}

.github-link-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Ridotto lo spazio tra gli elementi */
    flex-wrap: wrap; /* Permette agli elementi di andare a capo se necessario */
}

.github-link-input, .send-github-link-button {
    height: 35px; /* Ridotto l'altezza per risparmiare spazio */
    padding: 0 10px; /* Ridotto il padding per risparmiare spazio */
    font-size: 14px; /* Ridotto il font size per coerenza */
    flex-grow: 1; /* Assicura che l'input si espanda */
    flex-basis: 60%; /* Imposta una base per l'input, permettendo al bottone di ridursi */
}

.github-link-input {
    margin-top: 10px;
    flex-grow: 1; /* Permette all'input di espandersi per occupare lo spazio disponibile */
    /* Aggiungi qui ulteriori stili per l'input se necessario */
}

.send-github-link-button {
    flex-grow: 0;
    flex-basis: 30%; /* Assicura che il bottone non diventi troppo grande */
    cursor: pointer;
    font-size: small;
}