.subscription-success {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #f51111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    max-width: 400px;
    margin: 50px auto;
}

.subscription-success h1 {
    margin: 0 0 10px 0;
}

.subscription-success p {
    margin: 0;
    font-size: 1.2rem;
}

.subscription-success button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.subscription-success button:hover {
    background-color: #d32f2f;
}